.editorField {
    margin: 0 auto;
    padding: 30px;
}
#editor {
	width: 80vw;
    height: 150px;
    padding: 12px;
    border: 10px solid aliceblue;
    border-radius: 15px;
}
#preview {
	width: 80vw;
    padding: 12px;
    border: 10px solid aliceblue;
    border-radius: 15px;
}
.previewerField {
	

 margin: 0 auto;
    padding: 30px;
}
.previewerFieldText{ 
width: 80vw;
    height: 150px;
    padding: 12px;
    border: 10px solid aliceblue;
    border-radius: 15px;

 }
 .divForEverything {
 	display: flex;
 	flex-direction: column;
 }